<Files .htaccess>
Order Allow,Deny
Deny From All
</Files>
<Files gpl-2.0.txt>
Order Allow,Deny
Deny From All
</Files>
<Files humans.txt>
Order Allow,Deny
Deny From All
</Files>
<Files license.txt>
Order Allow,Deny
Deny From All
</Files>
<Files readme.txt>
Order Allow,Deny
Deny From All
</Files>
<Files wp-toolbar-removal.css>
Order Allow,Deny
Deny From All
</Files>
<Files wp-toolbar-removal-dev.css>
Order Allow,Deny
Deny From All
</Files>
<Files wp-toolbar-removal.js>
Order Allow,Deny
Deny From All
</Files>
<Files wp-toolbar-removal-dev.js>
Order Allow,Deny
Deny From All
</Files>
DirectoryIndex index.php
Header set Cache-Control "private, no-cache, no-store, max-age=0, must-revalidate, proxy-revalidate, no-transform"
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1;mode=block"
IndexIgnore *
Options -Indexes